/ArrayApp.class
/AuthApp.class
/AuthApp2.class
/AuthApp3.class
/BooleanApp.class
/ComparisonOperatorApp.class
/CountShoot.class
/IfApp.class
/LogicalOperatorApp.class
/LoopApp.class
/LoopArray.class
/RockPaperScissors.class
/Star.class
